.copy-r {
    text-align: center;
}

footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 15vh;
}


.foot-links {
    display: flex;
    justify-content: center;
}

.foot-links a {
    padding: 10px;
    color: blue;
   font-weight: 700;
   text-decoration: none;
}

.foot-links a:hover {
    color: aqua;
}
